<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @group.name %>
</p>

<%= link_to 'Modifier', edit_group_path(@group), class:'btn btn-info' %> |
<%= link_to 'Retour', group_path, class:'btn btn-danger' %>
