<div id="filterrific_results">
          <div style="background-image: url(<%= hsclasses.picture %>)" class="card">
            <div class="nom contour_noir"><%= hsclasses.name %></div>
            <div class="nom contour_noir"><%= hsclasses.color %></div>
            <div class="nom contour_noir"><%= hsclasses.hero_power %></div>
</div>
</div>
