<% content_for :top_content do %>
	<div id="page-home">
		<img src="img/home/logo.png" alt="">
		<p>
		  <%= link_to 'Enregistrez-vous', new_user_registration_path, class: 'btn btn-primary btn-lg btn-hs' %>
		</p>
	</div>
<% end %>


