<%= render(
        partial: 'alone_card',
        locals: { hscard: @hscard }
    ) %>

<div><%= commontator_thread(@hscard) %></div>

<% if (user_signed_in?) && current_user.admin? %>
<%= link_to 'Modifier', edit_hs_card_path, class:'btn btn-info' %>
<% end %>
<%= link_to 'Retour', hs_cards_url, class:'btn btn-danger' %>
