body{
	background-image:url("./home/background.jpg");
	background-size:100%;
    font-family: "HDVPeace";
}

@font-face {
    font-family: 'HDVPeace';
    src: url("font.ttf");
    src: url("font.ttf") format('truetype');
}

li {
  list-style-type: none
}

.btn-hs{
	background-color:transparent !important;
	border:none !important;
	text-align:center;
	background-image:url("./home/bouton.png");
	background-position:center;
	padding:40px 60px;
	font-size:13px;
	color:black;
}
	.btn-hs:active{
		background-image:url("./home/bouton.png");
		box-shadow:none;
		color:grey !important;
	}
	.btn-hs:hover{
		color:grey !important;
	}

.contour_noir{
	text-shadow:1px 1px 0px black,-1px 1px 0px black,1px -1px 0px black,-1px -1px 0px black,1px 0px 0px black,0px 1px 0px black,0px -1px 0px black,-1px 0px 0px black;
}





/*****************************************************************************/
/*									NAVBAR 									 */
/*****************************************************************************/


.navbar-inverse{
	border:none;
	border-radius:0px !important;
}
	.navbar-inverse .navbar-home{
		background-image:url("./home/logo.png");
		width:180px;
		display:block;
		height:70px;
		background-size:100% auto;
	}
	.navbar-inverse .all-thumbnails{
		margin-top:10px;
	}
	.navbar-inverse .interactions{
		width:40px;
		display:block;
		height:33px;
		background-size:80% auto;
		margin-top:15px;
		background-repeat:no-repeat;
		background-position:center;
		padding:20px;
	}
		.navbar-inverse .interactions:hover{
			background-color:rgba(255,255,255,0.1) !important;
		}
		.navbar-inverse .connexion{
			background-image:url("./navbar/account.png");
		}
		.navbar-inverse .inscription{
			background-image:url("./navbar/new_account.png");
			margin-left:20px;
		}


/*****************************************************************************/
/*									HOME 									 */
/*****************************************************************************/

#page-home{
	text-align:center;
}
















/*****************************************************************************/
/*									CARDS INDEX					             */
/*****************************************************************************/


#filterrific_results{
	
}

	#filterrific_results .card{
		width:336px;
		height:452px;
		float:left;
		background-position:center top;
        background-size: 100% auto;
        background-repeat: no-repeat;
        text-align: center;
	}
		#filterrific_results .card .number{
			color:white;
			font-size:50px;
			text-align:center;
			width:140px;
		}
		#filterrific_results .card .class{
			position:absolute;
		}
		#filterrific_results .card .cout{
			margin-top:35px;
            padding-right: 8px;
            font-size: 45px;
		}
        #filterrific_results .card .image{
        }
		#filterrific_results .card .nom{
			margin-top:125px;
			width:100%;
			text-align:center;
		    -ms-transform: rotate(-7deg); /* IE 9 */
		    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
		    transform: rotate(-7deg);
		    color:white;
		    font-size:150%;
		}
		#filterrific_results .card .extension{
		}
		#filterrific_results .card .rarete{
			text-align:center;
            padding-left: 15px;
		}
		#filterrific_results .card .description{
			height:70px;
			color:black;
			text-align:center;
			width:55%;
			margin:auto;
		}
		#filterrific_results .card .points_attaque{
			float:left;
            font-size: 45px;
		}
		#filterrific_results .card .points_vie{
			float:right;
			width:100px;
            font-size: 45px;

		}

        #filterrific_results .card .bouton_interaction{
            display: inline-block;
            padding-top: 20px;
        }

/*****************************************************************************/
/*									CARDS SHOW								 */
/*****************************************************************************/
#show_card{

}

#show_card .card{
  width:336px;
  height:452px;
  padding-top: 1px;
  background-position:center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
#show_card .card .number{
  color:white;
  font-size:50px;
  text-align:center;
  width:140px;
}
#show_card .card .class{
  position:absolute;
}
#show_card .card .cout{
  margin-top:35px;
  padding-right: 8px;
  font-size: 45px;
}
#show_card .card .image{
}
#show_card .card .nom{
  margin-top:125px;
  width:100%;
  text-align:center;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  color:white;
  font-size:150%;
}
#show_card .card .extension{
}
#show_card .card .rarete{
  text-align:center;
  padding-left: 15px;
}
#show_card .card .description{
  height:70px;
  color:black;
  text-align:center;
  width:55%;
  margin:auto;
}
#show_card .card .points_attaque{
  float:left;
  font-size: 45px;
}
#show_card .card .points_vie{
  float:right;
  width:100px;
  font-size: 45px;

}

