body{
	background-image:url("./home/background.jpg");
	background-size:100%;
    font-family: "HDVPeace";
}

@font-face {
    font-family: 'HDVPeace';
    src: url("font.ttf");
    src: url("font.ttf") format('truetype');
}

li {
  list-style-type: none
}

.btn-hs{
	background-color:transparent !important;
	border:none !important;
	text-align:center;
	background-image:url("./home/bouton.png");
	background-position:center;
	padding:40px 60px;
	font-size:13px;
	color:black;
}
	.btn-hs:active{
		background-image:url("./home/bouton.png");
		box-shadow:none;
		color:grey !important;
	}
	.btn-hs:hover{
		color:grey !important;
	}

.contour_noir{
	text-shadow:1px 1px 0px black,-1px 1px 0px black,1px -1px 0px black,-1px -1px 0px black,1px 0px 0px black,0px 1px 0px black,0px -1px 0px black,-1px 0px 0px black;
}

.btn{
	border:none;
	color:white !important;
	margin-bottom:10px;
}
	.btn.btn-info{
		background-color:rgba(0,0,0,0.7) !important;
	}class-show
		.btn.btn-info:hover{
			box-shadow: 0 0 10px black;
			transition : 0.5s;
		}
	.btn.btn-danger{
		background-color:rgba(169,9,9,0.7) !important;
	}
		.btn.btn-danger:hover{
			box-shadow: 0 0 10px black;
			transition : 0.5s;
		}

.container h1{
	text-align:center;
	color:white;
	font-size:50px;
	text-shadow:1px 1px 0px black,-1px 1px 0px black,1px -1px 0px black,-1px -1px 0px black,1px 0px 0px black,0px 1px 0px black,0px -1px 0px black,-1px 0px 0px black, 0 0 30px black;
}
.class-show{
	width:50%;
	margin:auto;
	text-align:center;
}
	.class-show.deck{
		width:80%;
	}


/*****************************************************************************/
/*									NAVBAR 									 */
/*****************************************************************************/


.navbar-inverse{
	border:none;
	border-radius:0px !important;
}
	.navbar-inverse .navbar-home{
		background-image:url("./home/logo.png");
		width:180px;
		display:block;
		height:70px;
		background-size:100% auto;
	}
	.navbar-inverse .all-thumbnails{
		margin-top:10px;
	}
	.navbar-inverse .interactions{
		width:40px;
		display:block;
		height:33px;
		background-size:80% auto;
		margin-top:15px;
		background-repeat:no-repeat;
		background-position:center;
		padding:20px;
	}
		.navbar-inverse .interactions:hover{
			background-color:rgba(255,255,255,0.1) !important;
		}
		.navbar-inverse .connexion{
			background-image:url("./navbar/account.png");
		}
		.navbar-inverse .inscription{
			background-image:url("./navbar/new_account.png");
			margin-left:20px;
		}


/*****************************************************************************/
/*									HOME 									 */
/*****************************************************************************/

#page-home{
	text-align:center;
}
















/*****************************************************************************/
/*									CARDS INDEX					             */
/*****************************************************************************/

.container-card{
	width:336px;
		float:left;
}
.image-card{
	margin-bottom:-275px;
	text-align:center;
	position:relative;
	z-index:3;
}

#filterrific_results{
	
}

	.card{
		width:336px;
		height:452px;
		background-position:center top;
        background-size: 100% auto;
        background-repeat: no-repeat;
        text-align: center;
		position:relative;
		z-index:4;
	}
		#filterrific_results .card .number{
			color:white;
			font-size:50px;
			text-align:center;
			width:140px;
		}
		#filterrific_results .card .class{
			position:absolute;
		}
		#filterrific_results .card .cout{
            padding-right: 8px;
            font-size: 45px;
            padding-top:35px;
		}
        #filterrific_results .card .image{
        }
		#filterrific_results .card .nom{
			margin-top:125px;
			width:100%;
			text-align:center;
		    -ms-transform: rotate(-7deg); /* IE 9 */
		    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
		    transform: rotate(-7deg);
		    color:white;
		    font-size:150%;
		}
		#filterrific_results .card .extension{
		}
		#filterrific_results .card .rarete{
			text-align:center;
            padding-left: 15px;
		}
		#filterrific_results .card .description{
			height:70px;
			color:black;
			text-align:center;
			width:55%;
			margin:auto;
		}
		#filterrific_results .card .points_attaque{
			float:left;
            font-size: 45px;
		}
		#filterrific_results .card .points_vie{
			float:right;
			width:100px;
            font-size: 45px;

		}

        #filterrific_results .card .bouton_interaction{
            display: inline-block;
            padding-top: 20px;
            margin-top:60px;
        }

/*****************************************************************************/
/*									CARDS SHOW								 */
/*****************************************************************************/
.form-inline{
	
}
	.form-inline .form-group:first-child{
		width:100%;
		margin-bottom:15px;
	}
		.form-inline .form-group:first-child input{
			background-color:rgba(0,0,0,0.7);
			width:70%;
			padding:7px;
			border:none;
			font-size:30px;
			border-radius:4px;
			display:block;
			margin:auto;
			color:white;
		}
	.form-inline .form-group{
		width:16%;
		display:inline-lock;
		text-align:center;
	}
		.form-inline .form-group select{
			width:90%;
			padding:5px;
			color:white;
			background-color:rgba(0,0,0,0.7);
			border:none;
			border-radius:3px;
		}
			.form-inline .form-group select option{
				background-color:rgba(0,0,0,0.7);
				padding:4px;
			}
	.form-inline .form-group.reinit{
		width:100% !important;
		padding-top:30px;
	}




#show_card{

}
#show_card .container-card{
	margin:auto;
	float:none;
}

#show_card .card{
  width:336px;
  height:452px;
  padding-top: 1px;
  background-position:center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
#show_card .card .number{
  color:white;
  font-size:50px;
  text-align:center;
  width:140px;
}
#show_card .card .class{
  position:absolute;
}
#show_card .card .cout{
  margin-top:35px;
  padding-right: 8px;
  font-size: 45px;
}
#show_card .card .image{
}
#show_card .card .nom{
  margin-top:125px;
  width:100%;
  text-align:center;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  color:white;
  font-size:150%;
}
#show_card .card .extension{
}
#show_card .card .rarete{
  text-align:center;
  padding-left: 15px;
}
#show_card .card .description{
  height:70px;
  color:black;
  text-align:center;
  width:55%;
  margin:auto;
}
#show_card .card .points_attaque{
  float:left;
  font-size: 45px;
}
#show_card .card .points_vie{
  float:right;
  width:100px;
  font-size: 45px;

}


.comment .comment_actions a{
	background-color:rgba(255,255,255,0.7);
	color:black;
	border-radius:3px;
	padding:3px 8px;
}
	.comment .comment_actions a:hover{
		text-decoration:none;
		background-color:rgba(255,255,255,0.8);
	}
    .comment .thread_hide_link{
	background-color:rgba(255,255,255,0.7);
	color:black;
	border-radius:3px;
	padding:3px 8px;
    }
	.comment .thread_hide_link:hover{
		text-decoration:none;
		background-color:rgba(255,255,255,0.8);
	}




/*****************************************************************************/
/*									GENEREAL FORM						     */
/*****************************************************************************/

.gal-form {
	width:100%;
	float:left;
}

.action-form {
	float:right;
}



#img-form-show {
	margin-bottom:20px;
}

.add-class {
	width:100%;
	float:left;
	positio:top;
}

li.active {
    border-radius: 23px;
    border-style: dashed;
    border-color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

/*****************************************************************************/
/*									DECKS									 */
/*****************************************************************************/



.comment{
	background-color:rgba(0,0,0,0.8) !important;
	color:white !important;
	border:none;
	border-radius:4px;
}

	.comment input[type=submit]{
		background-color:white;
		padding-left:15px;
		padding-right:15px;
		padding-top:3;
		padding-bottom:3px;
		color:gray;
		border-radius:4px;
		border:none;
	}
	.comment .comment_form_field{
		border-radius:4px;
		overflow:hidden;
		color:grey;
		font-size:150%;
		padding:5px !important;
	}
		.comment .comment_form_field textarea{
			padding:5px !important;
		}