<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à de trop nombreuses tentatives de connexion</p>

<p>Cliquez sur le lien ci-dessous pour débloquez votre compte:</p>

<p><%= link_to 'Débloquez votre compte', unlock_url(@resource, unlock_token: @token) %></p>
